{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}

    <main class="form-signin w-100 m-auto">
    <div class="container">
        <form action="Location_request/" method="POST">
            {% csrf_token %}
            <div class="row align-items-center justify-content-center ms-4">
                <h1 class="h3 mb-3 fw-normal">Add Location</h1>
            </div>
            <div class="row text-center mb-3">
                    <div class="col-md-12">
                        {% if request.session.LS_MSG %}
                        {{ request.session.LS_MSG }}
                        {% endif %}
                    </div>
                </div>
            <div class="form-floating mb-4">
                <input class="form-control" id="Location_alias" name="Location_alias" placeholder="Head-office" required type="text">
                <label for="Location_alias">Location Alias</label>
            </div>
            <div class="form-floating mb-4">
                <input class="form-control" id="Location_address" name="Location_address" placeholder="Fuel Location_address" required
                       type="text">
                <label for="Location_address">Location Address</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Add Location</button>
        </form>
    </div>
</main>

<!--     <form action="Location_request/" method="POST">-->
<!--        {% csrf_token %}-->
<!--        <h1 class="h3 mb-3 fw-normal">Add Location</h1>-->
<!--        <div class="form-floating">-->
<!--            <input class="form-control" id="floatingInput" name="Location_alias" placeholder="Head-office" required type="text">-->
<!--            <label for="floatingInput">Location Alias</label>-->
<!--        </div>-->
<!--        <div class="form-floating">-->
<!--            <input class="form-control" id="floatingPassword" name="Location_address" placeholder="PIDC" required-->
<!--                   type="text">-->
<!--            <label for="floatingPassword">Password</label>-->
<!--        </div>-->
<!--        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>-->
<!--    </form>-->
<div style="height: 50px;">

</div>
<div id="footer"  class="d-flex justify-content-center bg-primary-subtle">
    Designed and developed by Muhammad Huzaifa and Faraz Naeem Piracha
</div>
</body>

{% include 'footer.html' %}