{% include 'header.html' %}

{% include 'navbar.html' %}


<body>
<main>
    <div class="container w-50 d-flex justify-content-evenly my-3">
        <h1>Allowances</h1>
    </div>
    <div class="container w-50">
        <div class="">
            <form action="" method="GET">
                <div class="row">
                    <div class="col">
                        <h1 class="h3 fw-normal d-flex justify-content-end">Date:</h1>
                    </div>
                    <div class="col">
                        <select class="form-control" name="month">
                            <optgroup label="Select Month">
                                <option {% if month in None %} selected {% endif %} value="0">Current Month</option>
                                <option {% if month in 'January' %} selected {% endif %} value="1">January</option>
                                <option {% if month in  'February' %} selected {% endif %} value="2">February</option>
                                <option {% if month in 'March' %} selected {% endif %} value="3">March</option>
                                <option {% if month in 'April' %} selected {% endif %} value="4">April</option>
                                <option {% if month in 'May' %} selected {% endif %} value="5">May</option>
                                <option {% if month in 'June' %} selected {% endif %} value="6">June</option>
                                <option {% if month in 'July' %} selected {% endif %} value="7">July</option>
                                <option {% if month in 'August' %} selected {% endif %} value="8">August</option>
                                <option {% if month in 'September' %} selected {% endif %} value="9">September</option>
                                <option {% if month in 'October' %} selected {% endif %} value="10">October</option>
                                <option {% if month in 'November' %} selected {% endif %} value="11">November</option>
                                <option {% if month in 'December' %} selected {% endif %} value="12">December</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col">
                        <input class="form-control"
                               max="2026"
                               min="2020"
                               name="year"
                               placeholder="Year"
                               type="number"
                               value='{% now "Y" %}'>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary" style="width:100px" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="container border border-dark-subtle w-50">
        <div class="container my-3">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p class="fs-3">Status:</p>
                    {% if receipt_id %}
                    <p class="fs-3 fw-bold">&nbsp;Paid</p>
                    {% else %}
                    <p class="fs-3 fw-bold">&nbsp;Unpaid</p>
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <p class="fs-5"><b>Employee ID:</b> {{Emp_id}}</p>
                </div>
                {% if receipt_id %}
                <div class="col d-flex justify-content-end">
                    <p class="fs-5"><b>Receipt ID:</b> {{receipt_id}}</p>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <p class="fs-5 fw-bold">Date: </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="fs-5">{{month}}, {{year}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <p class="fs-5 fw-bold">Trips: </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="fs-5">{{Count}} Trips</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <p class="fs-5 fw-bold">Travel Distance: </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="fs-5">{{Sum_Distance}} Km</p>
                </div>
            </div>
            {% if cashed_on %}
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <p class="fs-5 fw-bold">Cashed on: </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="fs-5">show cashed on date</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <p class="fs-5 fw-bold">Total: </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="fs-5">Rs. {{Sum_Cost}}</p>
                </div>
            </div>
            <div class="row my-3">
                <form action="" method="POST">
                    <div class="d-flex justify-content-center">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary ms-4" type="submit"
                                style="width:300px">Print
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div style="height: 30px"></div>
</body>

{% include 'footer.html' %}