{% include 'header.html' %}

<body>
<main>
    {% include 'navbar.html' %}
    <div class="container">
        <form class="d-flex" role="search">
            <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
    <div class="container">
    <table class="border border-secondary">
        {% for trip in trips %}
          <tr class="border border-secondary ms-3">
            <td class="border border-secondary ms-3">{{ trip.travel_id }}</td>
            <td class="border border-secondary ms-3">{{ trip.travel_from }}</td>
            <td class="border border-secondary ms-3">{{ trip.travel_to }}</td>
            <td class="border border-secondary ms-3">{{ trip.travel_return_to }}</td>
          </tr>
        {% endfor %}
    </table>

    </div>
</main>
</body>

{% include 'footer.html' %}