{% include 'header.html' %}
<body>
<style>
        .container {
            max-width: 960px;
        }



</style>

{% include 'navbar.html' %}

<div class="container">
<!--        <main class="form-signin w-100 m-auto">-->
    <main class="m-auto py-3">
        <div class="text-center">
            <h1 class="h3 mb-3 fw-normal">Transport Request</h1>
        </div>
        <div class="p-2">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row text-center mb-3">
                    <div class="col-md-12">
                        {% if msg %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ msg }}
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label" for="Travel_from">Travel From</label>
                        <select class="form-select" id="Travel_from" name='Travel_from'>

                            {%for elements in Location_alias %}
                            <option>{{elements}}</option>
                            {%endfor%}
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Travel_To">Travel to</label>
                        <select class="form-select" id="Travel_To" name='Travel_To'>
                            {%for elements in Location_alias %}
                            <option>{{elements}}</option>
                            {%endfor%}
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Return_To">Return To</label>
                        <select class="form-select" id="Return_To" name='Return_To'>
                            {%for elements in Location_alias %}
                            <option>{{elements}}</option>
                            {%endfor%}
                        </select>

                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                </div>
<!--                <script>-->
<!--                    function printLoc(name) {-->
<!--                        let list = document.getElementById(name);-->
<!--                        console.log(list.value);-->
<!--                    }-->

<!--                </script>-->
                <div class="row text-center mb-3">
                    <div class="col-md-12">
                        <button class="btn btn-primary my-3 justify-content-center" style="width: 150px;" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<!--</main>-->
</body>

{% include 'footer.html' %}
